/* .toastify-custom {
    font-family: 'Arial', sans-serif;
  }
  
  .toastify-custom__toast {
    background-color: #4CAF50;
    color: #FFF;
  }
  
  .toastify-custom__toast--error {
    background-color: #f44336;
  }
  
  .toastify-custom__toast--info {
    background-color: #2196F3;
  }
  
  .toastify-custom__toast--warning {
    background-color: #FFC107;
  }
  
  .toastify-custom__toast--success {
    background-color: #4CAF50;
  } */